
<% content_for :Menu_Head do %>
<div class="text-overlay text-center">
  <div class="header-text">
    <h1 class="light white-text text-center">Ideas en ACCIÓN</h1>
    <div class="row">
      <div class="large-8 columns large-centered text-center">
        <p class="lead white-text"><strong>Galtec</strong>
          Desarrollo Inteligente.
          <br>Nuestro equipo trabaja con pasión y compromiso para ofrecer lo mejor y acompañar el exito de nuestros clientes.</p>
          <%##%>
          <a href="https://wistia.sslcs.cdngc.net/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.mp4" class="green button pause-play-button">Galtec en 30 segundos &rarr;</a>
      </div>
    </div>
  </div>
  <a class="small button pause-video"></a>
</div>
<div class="video-wrapper hide-for-small">
  <video id="studiosBackground">
    <%##%><source src="https://wistia.sslcs.cdngc.net/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.mp4" type="video/mp4">
    <%##%><source src="https://d3uqdvietz3th5.cloudfront.net/studios.webm" type="video/webm">
    <%##%><source src="https://wistia.sslcs.cdngc.net/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.ogv" type="video/ogg">
  </video>
  <video id="studiosBackgroundLoop" autoplay loop muted>
    <%##%><source src="https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.mp4?03202014" type="video/mp4">
    <%##%><source src="https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.webm?03202014" type="video/webm">
    <%##%><source src="https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.ogv?03202014" type="video/ogg">
  </video>
</div>
<p class="lead scroll">o sigue buscando</p>
<% end %>

  <% @form_ide=yield(:title)%>
  <nav class="global-nav top-bar">
    <ul class="title-area">
        <li class="name">
            <a class="sidebar-button show-for-small" id="sidebarButton" href="#sidebar"><img alt="Menu-icon" src="http://zurb.com/assets/offcanvas/menu-icon-e83086c09404412657dd5591074dbb3c.png"/></a>
            <h1>
                <a href="/" title="GalTEC">GalTEC</a>
            </h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            <li>
                <%= link_to "Inicio", '/' %>
            </li>
            <li>
                <%= link_to "Nosotros", about_path  , :class=>("current" if @form_ide=="Nosotros")%>
            </li>
            <li>
                <%= link_to "Servicios", services_path , :class=>("current" if @form_ide=="Servicios")%>
            </li>
            <li>
                <%= link_to "Contactenos", contact_path  , :class=>("current" if @form_ide=="Contacto")%>
            </li>
        </ul>
    </section>
  </nav>
  <%= case @form_ide
      when 'Inicio'
        content_for :Menu_Head

      end%>
