
  <!-- header mio-->
<%= render(:partial => "static_pages/menubar") %>

<div class="main-header services home" style="overflow: hidden">
<div class="text-overlay text-center">
  <div class="header-text">
    <h1 class="light white-text text-center">Ideas en <strong>Acción</strong></h1>
    <div class="row">
      <div class="large-8 columns large-centered text-center">
        <p class="lead white-text">
          <strong>Galtec</strong>
          Desarrollo Inteligente.
          <br>Nuestro equipo trabaja con pasión y compromiso para ofrecer lo mejor y acompañar el exito de nuestros clientes.</p>
          <%= link_to("Ver mas de nuestros servicios→",services_path,class:"green button")%>
      </div>
    </div>
  </div>
  <a class="small button pause-video"></a>
</div>
<div class="video-wrapper show-for-small">
  <%= image_tag("GalTec/Galtec-Banner-wologo.svg", alt:"Galtec logo" , style:"overflow:hidden; background: #c60f13;")  %>
  <!--%= video_tag("https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.webm?03202014",id:"studiosBackgroundLoop",autoplay:"" ,loop:"" ,muted:"" ,style:"height: 100%; width: auto;") %>
  <!https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.webm?03202014 -->
</div>
<div class="video-wrapper hide-for-small">
  <%= video_tag("https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.webm?03202014",id:"studiosBackgroundLoop",autoplay:"" ,loop:"" ,muted:"" ,style:"height: 100%; width: auto; overflow:hidden;") %>
</div>
<p class="lead scroll">o sigue buscando</p>
</div>


  <div class="row">
    <div class="medium-10 large-9 columns medium-centered">
      <p class="lead large text-center">
        <strong>En GALTEC entendemos que cada empresa es única,</strong>
        por eso nos preocupamos por hacer un análisis de las necesidades de tu empresa.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr class="dotted">
    </div>
  </div>
  <div class="row studios-callout">
    <div class="small-12 medium-5 large-6 columns">

      <%= image_tag("GalTec/logo-galtec.svg", alt:"Galtec logo" ,class:"studios home-img")  %>
    </div>
    <div class="small-12 medium-7 large-6 columns">
      <h3 class="light">Trabajamos contigo.</h3>
      <p><strong>GALTEC</strong> es una empresa innovadora especializada en <strong>diseño y creación de paginas web y
plataformas educativas</strong>, brindamos soluciones integrales dentro de un ambiente digital para la
capacitación de todo tipo de empresa.

<!--Nuestro fin es servir como aliado del desarrollo tecnológico de tu empresa, sin importar su tamaño. Quieres conocer mas sobre todos nuestros servicios?
        Nuestro fin es servir como un apoyo para el desarrollo tecnológico de la educación peruana,starup’s y todo tipo de industria.Quieres trabajar con nosotros?--> llamanos a 993418443 o escribenos un mail
        <%= link_to("info@GalTec.org","mailto:info@GalTec.org") %>
        </p>
        <%= link_to("Explorar nuestros estudios→",services_path,class:"green button",id:"studiosV1")%>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr class="dotted">
    </div>
  </div>

  <div class="last-section">
    <div class="row bump-25">
        <div class="small-12 columns bump-25">
            <h3 class="centered-text light">Brindamos Soluciones Integrales</h3>
            <p class="lead centered-text">Para esto, nos centramos en cuatro pilares:</p>
        </div>
    </div>
    <div class="row bump-25 collapse bu">
        <div class="medium-3 columns">
            <a href="/services" class="centered-text click-block">
                <%= image_tag("GalTec/home-capacitacion.jpg", alt:"capacitacion" ,class:"studios home-img")  %>
                <div class="inset">
                    <h3 class="title light">Diseño</h3>
                    <span class="normal-text">Trabajamos junto a ti en tu proyecto, website, SEO o plataforma educativa.</span>

                </div>
            </a>
        </div>
        <div class="medium-3 columns">
            <a href="/services" class="centered-text click-block">
                <%= image_tag("GalTec/home-multiplataforma.jpg", alt:"multiplataforma" ,class:"studios home-img")  %>
                <div class="inset">
                    <h3 class="title light">Responsive</h3>
                    <span class="normal-text">Trabajamos con un diseño responsive que asegura que tu contenido sea flexible y pueda ser utilizado en cualquier tipo de dispositivo electronico.</span>
                </div>
            </a>
        </div>
        <div class="medium-3 columns">
            <a href="/services" class="centered-text click-block">
                <%= image_tag("GalTec/home-soporte.jpg", alt:"soporte" ,class:"studios home-img")  %>
                <div class="inset">
                    <h3 class="title light">Soporte</h3>
                    <span class="normal-text">Mantenemos contacto contigo en el proceso pre y post desarrollo para asegurar la mejor experiencia.</span>

                </div>
            </a>
        </div>
        <div class="medium-3 columns">
            <a href="/services" class="centered-text click-block">
                <%= image_tag("GalTec/home-educacion.jpg", alt:"educacion" ,class:"studios home-img")  %>
                <div class="inset">
                    <h3 class="title light">Capacitacion</h3>
                    <span class="normal-text">Nuestros GALTECianos aman su trabajo y están en constante capacitación y actualización, asegurando la calidad en todo nuestro servicio.</span>
                </div>
            </a>
        </div>
    </div>
    <div class="gray callout home-logos">
    <div class="row">
        <div class="large-12 columns">
            <h4 class="centered-text lead bottom-40">Aseguramos la calidad en todos nuestros productos, trabajamos con:</h4>

            <ul class="zurb-logos hide-for-small">
                <li><%= image_tag("html5logo.png",alt:"HTML5") %></li>
                <li><%= image_tag("jquerylogo.png",alt:"jquery") %></li>
                <li><%= image_tag("mariadb-usa-inclogo.png",alt:"mariadb") %></li>
                <li><%= image_tag("moodle-logologo.png",alt:"Moodle") %></li>
                <li><%= image_tag("MySQL-Logologo.png",alt:"Mysql") %></li>
            </ul>
            <ul class="zurb-logos show-for-small">
              <li><%= image_tag("html5logo.png",alt:"HTML5") %></li>
              <li><%= image_tag("jquerylogo.png",alt:"jquery") %></li>
              <li><%= image_tag("mariadb-usa-inclogo.png",alt:"mariadb") %></li>
              <li><%= image_tag("moodle-logologo.png",alt:"Moodle") %></li>
              <li><%= image_tag("MySQL-Logologo.png",alt:"Mysql") %></li>
            </ul>
        </div>
    </div>
</div>

</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
