<%provide(:title,"Inicio")%>
  <div class="main-header services home" style="overflow: hidden">
    <%= render(:partial => "static_pages/menu") %>
  </div>
  <div class="row">
    <div class="medium-10 large-9 columns medium-centered">
      <p class="lead large text-center">
        <strong>En GALTEC entendemos que cada empresa es única,</strong>
        por ello nos preocupamos por hacer un análisis de las necesidades de tu empresa.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr class="dotted">
    </div>
  </div>
  <div class="row studios-callout">
    <div class="small-12 medium-5 large-6 columns">
      <%= image_tag("GalTec/home-estudios.jpg", alt:"Home-studios-callout" ,class:"studios home-img")  %>
    </div>
    <div class="small-12 medium-7 large-6 columns">
      <h3 class="light">Trabajamos contigo.</h3>
      <p>Nuestro fin es servir como un apoyo para el desarrollo tecnológico de la educación peruana,starup’s y todo tipo de industria.Quieres trabajar con nosotros? Contactanos 993418443 o escribenos un mail
        <%= link_to("info@GalTec.org","mailto:info@GalTec.org") %>
        </p>
        <%= link_to("Explorar nuestros estudios→","/services_path",class:"green button",id:"studiosV1")%>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr class="dotted">
    </div>
  </div>

  <div class="last-section">
    <div class="row bump-25">
        <div class="small-12 columns bump-25">
            <h3 class="centered-text light">Brindamos Soluciones completas</h3>
            <p class="lead centered-text">Para esto, nos centramos en cuatro pilares:</p>
        </div>
    </div>
    <div class="row bump-25 collapse bu">
        <div class="medium-3 columns">
            <a href="/services" class="centered-text click-block">
                <%= image_tag("GalTec/home-capacitacion.jpg", alt:"capacitacion" ,class:"studios home-img")  %>
                <div class="inset">
                    <h3 class="title light">Diseño</h3>
                    <span class="normal-text">Trabajaremos juntos para tu proyecto, website o plataforma educativa o SEO.</span>

                </div>
            </a>
        </div>
        <div class="medium-3 columns">
            <a href="/services" class="centered-text click-block">
                <%= image_tag("GalTec/home-multiplataforma.jpg", alt:"multiplataforma" ,class:"studios home-img")  %>
                <div class="inset">
                    <h3 class="title light">Multiplataforma</h3>
                    <span class="normal-text">Trabajamos con la ultima tecnologia Responsive, para que tu aplicacion sea visible en diferentes dispositivos.</span>

                </div>
            </a>
        </div>
        <div class="medium-3 columns">
            <a href="/services" class="centered-text click-block">
                <%= image_tag("GalTec/home-soporte.jpg", alt:"soporte" ,class:"studios home-img")  %>
                <div class="inset">
                    <h3 class="title light">Soporte</h3>
                    <span class="normal-text">Mantenemos contacto contigo durante todo el proceso Pre y Post desarrollo para asegurar la mejor experiencia.</span>

                </div>
            </a>
        </div>
        <div class="medium-3 columns">
            <a href="/services" class="centered-text click-block">
                <%= image_tag("GalTec/home-educacion.jpg", alt:"educacion" ,class:"studios home-img")  %>
                <div class="inset">
                    <h3 class="title light">Capacitacion</h3>
                    <span class="normal-text">Nuestro equipo esta en capacitación constante . eso te garantiza que las soluciones que te ofrecemos sean modernas.</span>

                </div>
            </a>
        </div>
    </div>
    <div class="gray callout home-logos">
    <div class="row">
        <div class="large-12 columns">
            <h4 class="centered-text lead bottom-40">Estas son algunas de las tecnologías con las que trabajamos, estamos siempre mejorando:</h4>
            
            <ul class="zurb-logos show-for-large-up">
                <li><%= image_tag("html5logo.png",alt:"HTML5") %></li>
                <li><%= image_tag("jquerylogo.png",alt:"jquery") %></li>
                <li><%= image_tag("mariadb-usa-inclogo.png",alt:"mariadb") %></li>
                <li><%= image_tag("moodle-logologo.png",alt:"Moodle") %></li>
                <li><%= image_tag("MySQL-Logologo.png",alt:"Mysql") %></li>
            </ul>
        </div>
    </div>
</div>
</div>
