<section role="main">
  <div class="main-header services home" style="overflow: hidden; height: 634px;">
    <nav class="global-nav top-bar">
      <ul class="title-area">
        <li class="name">
          <a class="sidebar-button show-for-small" id="sidebarButton" href="#sidebar"><img alt="Menu-icon" src="http://zurb.com/assets/offcanvas/menu-icon-e83086c09404412657dd5591074dbb3c.png"></a>
          <h1>
            <a href="/" title="GalTic">GalTic</a>
          </h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li>
              <%= link_to "Inicio", '#' %>
          </li>
          <li>
            <%= link_to "Nosotros", about_path %>
          </li>
          <li>
            <%= link_to "Servicios", services_path %>
          </li>
          <li>
            <%= link_to "Contacenos", contact_path %>
          </li>
        </ul>
      </section>
    </nav>
    <div class="text-overlay text-center">
      <div class="header-text active" style="margin-top: 160px;">
        <h1 class="light white-text text-center">Ideas en ACCIÓN</h1>
        <div class="row">
          <div class="large-8 columns large-centered text-center">
            <p class="lead white-text">
              <strong>GalTic</strong>
              Desarrollo Inteligente .
              <br>Nuestro equipo trabaja con pasión y compromiso para ofrecer lo mejor y acompañar el exito de nuestros clientes.</p>
            <a href="https://wistia.sslcs.cdngc.net/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.mp4" class="green button pause-play-button">GalTic en 30 segundos →</a>
          </div>
        </div>
      </div>
      <a class="small button pause-video"></a>
    </div>
    <div class="video-wrapper hide-for-small">
      <video id="studiosBackground" style="height: auto; width: 100%;">
        <source src="https://wistia.sslcs.cdngc.net/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.mp4" type="video/mp4">
        <source src="https://d3uqdvietz3th5.cloudfront.net/studios.webm" type="video/webm">
        <source src="https://wistia.sslcs.cdngc.net/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.ogv" type="video/ogg">
      </video>
      <video id="studiosBackgroundLoop" autoplay="" loop="" muted="" style="height: auto; width: 100%;">
        <source src="https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.mp4?03202014" type="video/mp4">
        <source src="https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.webm?03202014" type="video/webm">
        <source src="https://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.ogv?03202014" type="video/ogg">
      </video>
    </div>
    <p class="lead scroll">Desplazate hacia abajo para que nos conoscas mas.</p>
  </div>
  <div class="row">
    <div class="medium-10 large-9 columns medium-centered">
      <p class="lead large text-center">
        <strong>GalTec nació con el fin de servir como un apoyo para el desarrollo tecnológico de la educación peruana y personas emprendedoras!</strong>
        Somos un equipo de jóvenes profesionales, que decidieron embarcarse en una aventura empresarial. Nuestra juventud, optimismo, capacitación y
        experiencia hacen que nuestro equipo sea único, competitivo  y flexible.
</div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr class="dotted">
    </div>
  </div>
  <div class="row studios-callout">
    <div class="small-12 medium-5 large-6 columns">
      <img alt="Home-studios-callout" class="studios home-img" src="http://zurb.com/assets/zurb/home-studios-callout-33f0762fcdd94778ab503a4504bae563.svg">
    </div>
    <div class="small-12 medium-7 large-6 columns">
      <h3 class="light">Entendemos tus necesidades y objetivos empresariales.</h3>
      <p>Trabajamos en equipo y disfrutamos hacer nuestro trabajo.¿Quieres trabajar con nosotros? llamanos  993418443 o escribenos un mail
        <a href="mailto:getstarted@zurb.com">Contacto@GalTic.com</a>.</p>
      <a href="/services" class="green button" id="studiosV1">Visita nuestras instalaciónes →</a>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr class="dotted">
    </div>
  </div>


  <div class="gray callout home-logos">
    <div class="row">
      <div class="large-12 columns">
        <h4 class="centered-text lead bottom-40">Estamos comprometidos con la calidad en todo nuestro servicio. Trabajamos con la mejor tecnología:</h4>
        <ul class="zurb-logos show-for-small">
          <li><%= image_tag("bootstraplogo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("html5logo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("jquerylogo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("mariadb-usa-inclogo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("moodle-logologo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("phplogo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("postgresslogo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("Ruby_on_Railslogo", alt:"Ruby on rails")%></li>
        </ul>
        <ul class="zurb-logos hide-for-small">
          <li><%= image_tag("bootstraplogo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("html5logo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("jquerylogo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("mariadb-usa-inclogo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("moodle-logologo.png", alt: "Rails logo") %></li>
          <li><%= image_tag("phplogo.png", alt: "Rails logo") %></li>
        </ul>
        <ul class="zurb-logos show-for-large-up">
          <li><img alt="Felix" src="http://zurb.com/assets/zurb/logos/felix-fa1eca9a9ce242c209c2078d9d9e749c.png"></li>
          <li><img alt="Webfwd" src="http://zurb.com/assets/zurb/logos/webfwd-21cd394ccce1ba13b9eefeffa8d8768b.png"></li>
          <li><img alt="Natgeo" src="http://zurb.com/assets/zurb/logos/natgeo-8983c4c49d50551678691abfc6677c67.png"></li>
          <li><img alt="Losalamos" src="http://zurb.com/assets/zurb/logos/losalamos-4eaaf2b13ef9dfe6ef58a8e065a73ea4.png"></li>
          <li><img alt="Pixar" src="http://zurb.com/assets/zurb/logos/pixar-0af5167182615a2176dea3586701ef47.png"></li>
          <li><img alt="Equinix" src="http://zurb.com/assets/zurb/logos/equinix-1840352509d03424e74d8c2a9e42100b.png"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="last-section">
    <div class="row bump-25">
      <div class="small-12 columns bump-25">
        <h3 class="centered-text light">*trabajos de esta forma</h3>
        <p class="lead centered-text">To do this, we set up our business to operate in four, self-supporting ways:</p>
      </div>
    </div>
    <div class="row bump-25 collapse bu">
      <div class="medium-3 columns">

        <a href=<%= about_path %> class="centered-text click-block">
          <%= image_tag("home-img_servicios.png",class:"home-img",alt:"Home-studios")%>
          <div class="inset">
            <h3 class="title light">Servicios</h3>
            <span class="normal-text">We’ll work together to get your product, website or online service designed better and faster than you thought possible.</span>
            <span class="normal-text">
              <strong class="green-color darker">Let’s Work Together →</strong>
            </span>
          </div>
        </a>

      </div>
      <div class="medium-3 columns">
        <a href=<%= about_path %> class="centered-text click-block">
          <%= image_tag("home-img_responsive.png",class:"home-img",alt:"Home-studios")%>
          <div class="inset">
            <h3 class="title light">Multiplataforma</h3>
            <span class="normal-text">Diseño Responsive We’ve developed the most advanced responsive, front-end framework in the world and made it free for all.</span>
            <span class="normal-text">
              <strong class="green-color darker">Download Foundation →</strong>
            </span>
          </div>
        </a>
      </div>
      <div class="medium-3 columns">
        <a href=<%= about_path %> class="centered-text click-block">
          <%= image_tag("home-img_soporte.png",class:"home-img",alt:"Home-studios")%>
          <div class="inset">
            <h3 class="title light">Soporte</h3>
            <span class="normal-text">When it comes to web, anything goes on the Playground, whether it’s playing with JavaScript or crafting a CSS love potion.</span>
            <span class="normal-text">
              <strong class="green-color darker">Explore Playground →</strong>
            </span>
          </div>
        </a>
      </div>
      <div class="medium-3 columns">
        <a href=<%= about_path %> class="centered-text click-block">
          <%= image_tag("home-img_capacitacion.png",class:"home-img",alt:"Home-studios")%>
          <div class="inset">
            <h3 class="title light">Capacitación</h3>
            <span class="normal-text">We believe that great products are results of design literacy and collaboration, so we share ideas and resources to help you grow.</span>
            <span class="normal-text">
              <strong class="green-color darker">Start Learning →</strong>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  

</section>
