<%provide(:title,"Servicios, Paginas Web, Plataformas Educativas, Marketing Empresarial-SEO")%>
    <%= render(:partial => "static_pages/menubar") %>

      <div class="interior-header green">
            <div class="row">
              <div class="large-12 columns large-centered">
                <h1 class="title text-center"> <strong>Servicios</strong></h1>
              </div>
            </div>
      </div>

<div class="row">
    <div class="medium-10 large-9 columns large-centered">
        <p class="lead">
          Desde <strong>páginas web, SEO hasta plataformas educativas.</strong> Te ofrecemos una variedad de productos y servicios que se enfocan en que tu empresa sea <strong>más rentable y aproveche las ventajas del desarrollo tecnológico.</strong></p>
    </div>
</div>
<div class="row">
    <div class="medium-12 large-12 columns">
        <hr class="dotted">
    </div>
</div>
<div class="row">
    <div class="medium-12 large-10 large-centered columns">
        <h3 class="centered-text light">Proceso de Desarrollo</h3>
        <p class="lead centered-text">En GALTEC entendemos que cada empresa es única, por ello nos preocupamos por hacer un análisis de las necesidades de tu empresa.</p><br/>
    </div>
</div>
<div class="row">
    <div class="large-11 columns large-centered">
        <div class="process-image">
            <%= image_tag("desarrollo.svg", alt:"Galtec Desarrollo web" ,class:"hide-for-small")  %>
        </div>
    </div>
</div>
<div class="row studios">
    <div class="large-12 columns large-centered">
        <ul class="large-block-grid-5 process-phases">
            <li class="define">
                <span class="title">Análisis</span>
                <p>Nuestro trabajo empieza con usted. Los <strong>GALTECianos</strong> sabemos que para entregarle calidad en nuestro servicio necesitamos entender sus requerimientos</p>
            </li>
            <li class="ideate">
                <span class="title">Propuestas</span>
                <p>Los Galtecianos amamos trabajar en equipo e incluimos a nuestro cliente en todo el proceso. Para ello le <strong>proponemos soluciones estratégicas </strong> conjuntamente con usted.</p>
            </li>
            <li class="prototype">
                <span class="title">Prototipo</span>
                <p>Diseñamos y presentamos gráficamente la idea propuesta según el alcance de diseño</p>
            </li>
            <li class="build">
                <span class="title">Construcción</span>
                <p>En este punto, nuestro experimentado equipo entra en acción. El diseño se convierte en el mapa de trabajo y llevamos las ideas a la realidad.</p>
            </li>
            <li class="analyze">
                <span class="title">Soporte</span>
                <p>Nuestro compromiso con su empresa no termina con entregar el producto final, mostamos nuestro compromiso con usted capacitando al personal usuario.</p>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <hr class="dotted">
    </div>
</div>

<div class="row">
    <div class="large-9 large-centered columns">
        <h1 class="centered-text light">Paginas Web</h1>
        <br>
        <p class="lead centered-text bottom-40">
          Creamos más que paginas web, <strong>creamos experiencias para el usuario </strong>ofrecemos un diseño único <strong>Responsivo</strong>, estructurada para <strong>SEO</strong>.
          </p>
          <br><br>

    </div>
</div>

<div class="row why-zurbstudios">
    <div class="medium-5 large-7 columns">
        <div class="bleed iterate wow fadeInLeft">
            <%= image_tag("GalTec/analisisweb.svg",alt:"Analisis Paginas Web")%>
        </div>
    </div>
    <div class="medium-7 large-5 columns">
        <h3 class="smaller light">Importancia de una Pagina Web</h3>
        <p class="lead black">Los negocios de hoy en dia necesitan tener presencia en Internet.</p>
        <p> <strong>Trabajamos rápidamente </strong>desde borrador hasta el primer prototipo te presentamos el prototipo para que hagas los cambios necesarios nosotros apoyaremos con sugerencias una vez llegado a un acuerdo generamos otro prototipo, este proceso debe realizarse rápidamente de esta forma sabemos
          que es lo que quieres lograr hasta llegar a un modelo final.</p>

    </div>
</div>

<div class="row why-zurbstudios">
    <div class="medium-5 medium-push-7 large-7 large-push-5 columns">
        <div class="bleed any-device wow fadeInRight">
            <%= image_tag("GalTec/dispositivos.svg",alt:"diseño web")%>

        </div>
    </div>
    <div class="medium-7 medium-pull-5 large-5 large-pull-7 columns">
        <h3 class="smaller light">Diseño Responsive Multiplataforma</h3>
        <p class="lead black">Diseño adaptable a la <strong>experiencia</strong>, no al dispositivo.

        <p>Nuestra prioridad es crear Paginas Webs basadas en los <strong>requerimientos particulares de un negocio o cliente.</strong> Diseños Responsive que se adapatan a todo tipo de dispositivos</p>
        <div class="did-you-know bump-40 show-for-medium-up">
            <div class="star one"></div>
            <h6>Sabia que?</h6>
            <p class="lead black">83% de las personas que tienen celulares acceden a internet desde ese dispositivo.</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <hr class="dotted">
    </div>
</div>

<div class="row">
    <div class="large-9 large-centered columns">
        <h1 class="centered-text light">Moodle</h1>
        <p class="lead centered-text bottom-40">
          Moodle es un software diseñado para ayudar a los educadores a crear cursos en línea de alta calidad y entornos de aprendizaje virtuales.</p>
    </div>
</div>
<div class="row why-zurbstudios">
    <div class="medium-5 large-7 columns">
        <div class="bleed iterate wow fadeInLeft">
            <%= image_tag("GalTec/moodle.svg",alt:"Moodle")%>
        </div>
    </div>
    <div class="medium-7 large-5 columns">
        <h3 class="smaller light">Plataforma Educativa<br>e-learning</h3>
        <p class="lead black">Moodle es un software diseñado para ayudar a los educadores a crear cursos en línea de alta calidad .</p>

        <p>Una de las principales características de Moodle sobre otros sistemas es
            que está hecho en base a la <strong>pedagogía social constructivista</strong>, donde la
            comunicación tiene un espacio relevante en el camino de la construcción
            del conocimiento. Siendo el objetivo generar una experiencia de aprendizaje enriquecedora.</p>
            <p  class="lead black"><strong>Tales sistemas de aprendizaje en línea son entornos virtuales de aprendizaje.</strong></p>
    </div>
    <div class="medium-5 medium-push-7 large-7 large-push-5 columns">
        <div class="bleed any-device wow fadeInRight">
            <%= image_tag("GalTec/Galtec-Plataforma-Educativa.svg",alt:"Galtec-Moodle-Plataforma Educativa")%>

        </div>
    </div>
    <div class="medium-7 medium-pull-5 large-5 large-pull-7 columns">
        <h4 class="smaller light">Moodle Para Instituciones Educativas</h4>
        <p>Desarrollamos la plataforma educativa en base a Moodle, pero <strong>agregamos otros scripts que potenciaran tu plataforma</strong> con todo lo que necesitas.</p>
        <br>
        <h4 class="smaller light">Moodle Para Empresas</h4>
        <p>Ayudamos a tu empresa con los <strong>programas de capacitación</strong>, haciendo que todos tus colaboradores puedan participar desde la comodidad de su oficina u hogar. Lo único que necesitan tener conexión a internet y listo.</p>
        <br>
        <h4 class="smaller light">Entrenamiento</h4>
        <p>Te ofrecemos <strong>tutoriales</strong> para crear cursos, realizar exámenes, utilizar videoconferencia, entre otros.</p>

        Galtec-Plataforma-Educativa
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <hr class="dotted">
    </div>
</div>
<div class="row last-section wow fadeInUp">
    <div class="large-9 large-centered columns">
        <h3 class="centered-text light">Trabajemos juntos!</h3>
        <p class="lead centered-text bottom-20">Contactanos para saber mas. llamanos:</p>
        <div class="row contact-info">
            <div class="medium-4 large-offset-2 columns">
                <div class="small-icon-messaging call">
                    <h5>Llamanos</h5>
                    <h6>993418443</h6>
                </div>
            </div>
            <div class="medium-6 columns">
                <div class="small-icon-messaging email">
                    <h5>Email </h5>
                    <p>
                        <a href="mailto:info@galtec.org">info@galtec.org</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--div class="signup-bar">
  <div class="row">
    <div class="large-6 columns">
      <h3 class="light">Stay in touch</h3>
      <p class="lead">Learn about upcoming events before anyone else by subscribing to our Soapbox alerts. Expect a couple emails a month.</p>
      <br>
      <p class="lead">You can also listen to us on
        <a href="https://itunes.apple.com/us/podcast/zurbsoapbox/id304600897" title="iTunes Feed" class="rss">iTunes</a>
        or subscribe to our
        <a href="https://feeds.feedburner.com/zurbsoapbox" class="rss" title="RSS Podcast">Soapbox RSS Podcast</a>.</p>
    </div>
    <div class="large-6 columns">
      <div class="normal-state">
        <form accept-charset="UTF-8" action="http://zurb.com/soapbox/stay_connected" class="stay-in-touch" method="post">
          <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="sThUVADh006D7fy7CWYYIYZLmOZm/cvS9MYNGjwPkhE="/></div>
          <input class="medium input-text" id="full_name" name="full_name" placeholder="Full Name" type="text"/>
          <input class="medium input-text" id="email" name="email" placeholder="Email Address" type="text"/>
          <input class="button" name="commit" type="submit" value="Stay Connected"/>
        </form>
      </div>
    </div>
  </div>
</div-->
