<%provide(:title,"Servicios")%>

  <%= render(:partial => "static_pages/menu") %>
  <%= case @form_ide
      when 'Inicio'
        content_for :Menu
      end%>

      <div class="interior-header green">
            <div class="row">
              <div class="large-12 columns large-centered">
                <h1 class="title text-center"> <strong>Servicios</strong></h1>
              </div>
            </div>
      </div>

<div class="row">
    <div class="medium-10 large-9 columns large-centered">
        <p class="lead">
            <strong>Desarrollamos paginas web (website), plataformas educativas y SEO. </strong>
            Somos un equipo de jóvenes profesionales. Nuestra juventud, optimismo, capacitación constante y experiencia hacen que nuestro equipo sea único, competitivo y flexible.</p>
    </div>
</div>
<div class="row">
    <div class="medium-12 large-12 columns">
        <hr class="dotted">
    </div>
</div>
<div class="row">
    <div class="medium-12 large-10 large-centered columns">
        <h3 class="centered-text light">Proceso de Desarrollo</h3>
        <p class="lead centered-text">En GALTEC entendemos que cada empresa es única, por ello nos preocupamos por hacer un análisis de las necesidades de tu empresa.</p><br/>
    </div>
</div>
<div class="row">
    <div class="large-11 columns large-centered">
        <div class="process-image">
            <%= image_tag("desarrollo.svg", alt:"Galtec Desarrollo web" ,class:"hide-for-small")  %>
        </div>
    </div>
</div>
<div class="row studios">
    <div class="large-12 columns large-centered">
        <ul class="large-block-grid-5 process-phases">
            <li class="define">
                <span class="title">Análisis</span>
                <p>Contacto inicial con el cliente analizamos tus requerimientos que es lo que quieres lograr</p>
            </li>
            <li class="ideate">
                <span class="title">Propuestas</span>
                <p>Nuestro equipo te presenta las soluciones que podemos ofrecerte y las ventajas que puedes conseguir.</p>
            </li>
            <li class="prototype">
                <span class="title">Prototipo</span>
                <p>Nuestro equipo genera prototipos</p>
            </li>
            <li class="build">
                <span class="title">Construcción</span>
                <p>Desarrollamos tu aplicación bajo estándares de calidad </p>
            </li>
            <li class="analyze">
                <span class="title">Acompañamiento</span>
                <p>Seguimiento de resultados,capacitacion de personal</p>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <hr class="dotted">
    </div>
</div>

<div class="row">
    <div class="large-9 large-centered columns">
        <h1 class="centered-text light">Moodle</h1>
        <p class="lead centered-text bottom-40">
          Moodle es un software diseñado para ayudar a los educadores a crear cursos en línea de alta calidad y entornos de aprendizaje virtuales.</p>
          <p>.</p>
    </div>
</div>

<div class="row why-zurbstudios">
    <div class="medium-5 large-7 columns">
        <div class="bleed iterate wow fadeInLeft">
            <%= image_tag("GalTec/analisisweb.svg",alt:"Analisis Paginas Web")%>
        </div>
    </div>
    <div class="medium-7 large-5 columns">
        <h3 class="smaller light">Importancia de una Pagina Web</h3>
        <p class="lead black">Los negocios de hoy en dia necesitan tener presencia en Internet.</p>
        <p>We'll work quickly &mdash; from sketch to prototype &mdash; to get your product in front of your customers and onto its next, great iteration.
            <a href="services/working-together/rapid-prototyping-and-iteration.html">Rapid prototyping and iteration</a>
            is how we get to answers and get there quickly. Our app suite,
            <a href="http://notableapp.com/" target="_blank">Notable</a>, allows us to gut-check concepts with teams and customers early and often, so we can make adjustments on the fly and design better products.</p>
    </div>
</div>

<div class="row why-zurbstudios">
    <div class="medium-5 medium-push-7 large-7 large-push-5 columns">
        <div class="bleed any-device wow fadeInRight">
            <%= image_tag("GalTec/dispositivos.svg",alt:"diseño web")%>

        </div>
    </div>
    <div class="medium-7 medium-pull-5 large-5 large-pull-7 columns">
        <h3 class="smaller light">Diseño Responsive Multiplataforma</h3>
        <p class="lead black">Diseño adaptable a la <strong>experiencia </strong>, no al dispositivo.

        <p>Nuestra prioridad es crear Paginas Webs basadas en los <strong>requerimientos particulares de un negocio o cliente.</strong>Diseños Responsive que se adapatan a todo tipo de dispositivos</p>
        <div class="did-you-know bump-40 show-for-medium-up">
            <div class="star one"></div>
            <h6>Sabia que?</h6>
            <p class="lead black">83%de la gente que tiene celulares accede a internet desde ese dispositivo.</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <hr class="dotted">
    </div>
</div>

<div class="row">
    <div class="large-9 large-centered columns">
        <h1 class="centered-text light">Moodle</h1>
        <p class="lead centered-text bottom-40">
          Moodle es un software diseñado para ayudar a los educadores a crear cursos en línea de alta calidad y entornos de aprendizaje virtuales.</p>
    </div>
</div>
<div class="row why-zurbstudios">
    <div class="medium-5 large-7 columns">
        <div class="bleed iterate wow fadeInLeft">
            <%= image_tag("GalTec/moodle.svg",alt:"Moodle")%>
        </div>
    </div>
    <div class="medium-7 large-5 columns">
        <h3 class="smaller light">Plataforma Educativa</h3>
        <p class="lead black">Moodle es un software diseñado para ayudar a los educadores a crear cursos en línea de alta calidad .</p>

        <p>Una de las principales características de Moodle sobre otros sistemas es
            que está hecho en base a la <strong>pedagogía social constructivista</strong>, donde la
            comunicación tiene un espacio relevante en el camino de la construcción
            del conocimiento. Siendo el objetivo generar una experiencia de aprendizaje enriquecedora.</p>
            <p  class="lead black"><strong>Tales sistemas de aprendizaje en línea son entornos virtuales de aprendizaje.</strong></p>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <hr class="dotted">
    </div>
</div>
<div class="row last-section wow fadeInUp">
    <div class="large-9 large-centered columns">
        <h3 class="centered-text light">Trabajemos juntos!</h3>
        <p class="lead centered-text bottom-20">Contactanos para saber mas. llamanos:</p>
        <div class="row contact-info">
            <div class="medium-4 large-offset-2 columns">
                <div class="small-icon-messaging call">
                    <h5>Llamanos</h5>
                    <h6>993418443</h6>
                </div>
            </div>
            <div class="medium-6 columns">
                <div class="small-icon-messaging email">
                    <h5>Email </h5>
                    <p>
                        <a href="mailto:info@galtec.org">info@galtec.org</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
