

<%provide(:title,"Blog-Paginas Web,Plataformas Educativas Moodle, Arequipa-Peru, Marketing Digital, SEO")%>
<%= render(:partial => "static_pages/menubar") %>

<div class="interior-header green">
      <div class="row">
        <div class="large-12 columns large-centered">
          <h1 class="title text-center">Blog<strong> GalTec</strong></h1>
        </div>
      </div>
</div>
<div>
<!--div class="large-12 columns"-->
    <div class="row">
      <div class="large-8 columns large-centered">
        <h2 class="light centered-text">
          <%=link_to "Galtec",blog_path %>
        </h2>
        <p class="centered-text topic-description">Descubre todas nuestras publicaciones!</p>
        <hr>
      </div>
    </div>

    <div class="row thumb-row">
      <% @posts.each do |post| %>
        <%= link_to '',post%>
        <div class="large-4 columns thumb-column">
          <%= link_to post do %>
            <div class="thumb-image-wrapper">
              <%= image_tag("desarrollo.svg",alt: "Logo") %>
            </div>
          <% end %>
          <h5 class="thumb-category">
            <%= link_to '',post%>
            <%= link_to post,title: 'Galtec', class:"post-category" do%>
              <strong>Galtec</strong>
            <% end %>
          </h5>
          <h6 class="thumb-title"><%= post.title %></h6>
        </div>
      <% end %>
      <div class="row">
        <div class="columns">
          <%=link_to "Ver Mas articulos",blog_path,class:"button primary green read-more-topics-button" %>

        </div>
      </div>
    </div>
    <br>
</div>
