<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="lt-ie10" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<html lang="es">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="__-a7uZTgSVoA5d55b7T5XCNp5P1LphA69dGST3zikY" />

    <%= favicon_link_tag("favicons/galtec.ico") %>

    <meta name="keywords" content="arequipa,diseño,paginas,web,Seo,peru"/>
    <meta name="description" content="GalTEC. Proveemos Marketing empresarial, Diseño Paginas web, ilustraciones ,Diseño de software, Logos. Creamos experiencias para los usuarios finales."/>
    <meta name="author" content="GalTec, srl. Galtec Pro Galtec-Pro.com"/>
    <meta name="copyright" content="GalTec, srl. Copyright (c) 2017"/>

    <meta content="Fixauthenticity_token" name="csrf-param" />
    <meta content="Fixiz5Bwm0pCMf4T9IX4jBYG4qld/TWN/+kV6ygGaEo8SA=" name="csrf-token" />
    <title> <%= SetTitle(yield(:title)) %>  </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>



  <body id="page" class="off-canvas hide-extras zurb-dot-com">
    <section role="main">
      <%= yield %>
      <%= render(:partial => 'footer')%>

      <%#texto animado%>

      <script>
          $(document).foundation();
      </script>
  </body>

  </html>
  </section>
  <!--footer -->
