<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="lt-ie10" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<html lang="es">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="4Z0XnuPtcGIpIlbrslVJBmVEGuzeHYVdzFWCULKi5qU" />

    <%= favicon_link_tag("favicons/galtec.ico") %>

    <meta name="keywords" content="arequipa,dise単o,paginas,web,freelancer,seo,peru"/>
    <meta name="description" content="GalTEC, Creamos experiencias para los usuarios finales. Proveemos Marketing empresarial , Dise単o y soluciones.  ,Dise単o web, ilustraciones ,Dise単o de software, Iconos y trabajo multimedia."/>
    <meta name="author" content="GalTec, srl. Galtec Pro Galtec-Pro.com"/>
    <meta name="copyright" content="GalTec, srl. Copyright (c) 2017"/>

    <meta content="Fixauthenticity_token" name="csrf-param" />
    <meta content="Fixiz5Bwm0pCMf4T9IX4jBYG4qld/TWN/+kV6ygGaEo8SA=" name="csrf-token" />
    <title> <%= SetTitle(yield(:title)) %>  </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="http://zurb.com/assets/custom.modernizr-10edc0fdd7691ce0099730e56622df91.js" type="text/javascript"></script>
    <script type="text/javascript">

    	// ZURB Top Level
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2195009-2']);
      _gaq.push(['_trackPageview']);

      // ZURB Marketing Level
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2195009-54']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

          </script>
      <script type="text/javascript">var _kmq = _kmq || [];
      var _kmk = _kmk || "d945f04ff5e68057c85f5323b46f185efb3826b3";
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
        </script>
  </head>



  <body id="page" class="off-canvas hide-extras zurb-dot-com">
    <section role="main">
      <%= yield %>
      <%= render(:partial => 'footer')%>

      <%#texto animado%>
            <script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
      <script>
          $(document).foundation();
      </script>
  </body>

  </html>
  </section>
  <!--footer -->
